body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}
h1 {
    font-size: 32px;
    padding-bottom: 20px;
}
h2 {
    font-size: 24px;
    padding-top: 15px;
}
ul {
    margin-top: 5px;
    margin-bottom: 10px;
}
li {
    margin-bottom: 5px;
    list-style-type: disc;
}